body {
    background-color: blanchedalmond;
}
form {
    
    /* Center the form on the page */
    margin: 0 auto;
    width: 300px;

  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 6px;
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 6px;
    background-color: darkturquoise;
    color: darkred;
    font-weight: bold;
    border-width: 3px;
    border-color: black;
    border-style: solid;
  }